@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

html {
  font-size: 62.5%;
}

.wrap {
  overflow: hidden;
}

body {
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.header .header-fixed {
  background-color: rgba(167, 206, 219, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 50px;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header .c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 80px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header .c-button .u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

@media print, screen and (min-width: 768px) {
  .header .c-button {
    display: none;
  }
}

.header .c-button .p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 親要素に対してど真ん中に配置 */
  width: 40px;
  /* お肉の幅 */
  height: 2px;
  /* お肉の高さ */
  background-color: #fff;
  -webkit-transition: inherit;
  transition: inherit;
}

.header .c-button .p-hamburger__line::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  top: -10px;
}

.header .c-button .p-hamburger__line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  top: 10px;
}

.header .header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0092e5;
  opacity: 0.9;
  padding-top: 130px;
  padding-bottom: 50px;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media print, screen and (min-width: 768px) {
  .header .header-nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 3;
    left: inherit;
    right: 0;
    top: 1.7rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: transform 0s ease-in-out;
    -webkit-transition: -webkit-transform 0s ease-in-out;
    transition: -webkit-transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
    transition: transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
  }
}

.header .nav-list {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav-list .item > a {
  font-size: 22px;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item > a {
    font-size: 1.8rem;
  }
}

.header .nav-list .item:last-child a {
  font-size: 18px;
  color: #333333;
  background-color: #f5b09b;
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid #f5b09b;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.15em;
}

.header .nav-list .item:last-child a:hover {
  background-color: #ffa185;
  border: 1px solid #333;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item + .item {
    margin-left: 45px;
    margin-top: 0;
  }
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-drawerActive .header-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.cmn-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cmn-title {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
  font-size: 23px;
}

@media print, screen and (min-width: 768px) {
  .cmn-title {
    font-size: 26px;
  }
}

.cmn-title span {
  position: relative;
  z-index: 2;
}

.cmn-title::before {
  content: attr(data-en);
  position: absolute;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  top: -10px;
  left: 0;
  color: rgba(245, 176, 155, 0.6);
  font-size: 70px;
  font-weight: 400;
  font-family: Luxus Brut, Snell Roundhand,sans-serif,cursive;
  font-style: italic;
}

@media print, screen and (min-width: 768px) {
  .cmn-title::before {
    font-size: 80px;
    top: -20px;
  }
}

.cmn-link a {
  background-color: #f5b09b;
  border: 1px solid #f5b09b;
  border-radius: 35px;
  position: relative;
  padding: 18px 26px;
  font-size: 14px;
}

@media print, screen and (min-width: 768px) {
  .cmn-link a {
    padding: 20px 50px;
    font-size: 16px;
  }
}

.cmn-link a:hover {
  background-color: #ffa185;
  border: 1px solid #333;
  color: #fff;
}

.cmn-link a::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: -15px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  width: 10px;
  height: 1px;
  background-color: #333;
  position: absolute;
}

@media print, screen and (min-width: 768px) {
  .cmn-link a::before {
    width: 12px;
    right: -30px;
  }
}

.cmn-link a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 1px;
  background-color: #333;
}

@media print, screen and (min-width: 768px) {
  .cmn-link a::after {
    width: 70px;
    right: -30px;
  }
}

.footer {
  background-color: #a7cedb;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .copy-right {
  text-align: center;
}

.footer .copy-right p {
  color: #fff;
}

.top {
  background-image: url(https://tomokomotoko.github.io/cocoro-me.lp/image/top-bg-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}

@media print, screen and (min-width: 768px) {
  .top {
    background-image: url(https://tomokomotoko.github.io/cocoro-me.lp/image/top-bg-pc.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    position: relative;
  }
}

.top-text {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  position: absolute;
  top: 35%;
}

@media print, screen and (min-width: 768px) {
  .top-text {
    position: absolute;
    top: 32%;
    padding-left: 18.75%;
    padding-right: 18.75%;
    text-align: left;
  }
}

.sub {
  font-size: 24px;
  color: #0092e5;
}

@media print, screen and (min-width: 768px) {
  .sub {
    font-size: 30px;
  }
}

.main {
  margin-top: 10px;
}

.main img {
  width: 90%;
}

@media print, screen and (min-width: 768px) {
  .main img {
    width: 630px;
  }
}

.top-list {
  margin-top: 80px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
}

.item-title {
  font-size: 23px;
}

.item-desc {
  font-size: 18px;
  margin-top: 10px;
}

@media print, screen and (min-width: 768px) {
  .item-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 40px;
    font-size: 30px;
    line-height: 1.8em;
    margin-top: -10px;
  }
}

.item-desc::before {
  content: "";
  display: inline-block;
  background-image: url(https://tomokomotoko.github.io/cocoro-me.lp/image/top-item.png);
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 492px;
  left: -17%;
  bottom: -138%;
}

@media print, screen and (min-width: 768px) {
  .item-desc::before {
    width: 435px;
    position: absolute;
    height: 685px;
    left: 0%;
    bottom: -95%;
  }
}

.about_me {
  margin-top: 240px;
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media print, screen and (min-width: 768px) {
  .about_me {
    margin-top: 135px;
  }
}

.about_me .about_me-cont {
  padding-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .about_me .about_me-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-left: 18.75%;
    padding-right: 18.75%;
  }
}

.about_me .about_me-image {
  text-align: center;
}

.about_me .about_me-image img {
  width: 200px;
}

@media print, screen and (min-width: 768px) {
  .about_me .about_me-image img {
    width: 250px;
  }
}

.about_me .about_me-list {
  margin-left: 0;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .about_me .about_me-list {
    margin-left: 80px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.about_me .about_me-item.about_me-item:nth-child(2) {
  margin-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .about_me .about_me-item .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about_me .about_me-item .title {
  text-align: center;
  font-size: 23px;
}

.about_me .about_me-item .desc {
  line-height: 1.8em;
  padding-top: 10px;
  font-size: 16px;
}

@media print, screen and (min-width: 768px) {
  .about_me .about_me-item .desc {
    margin-left: 60px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: justify;
    padding-top: 5px;
  }
}

.about_me .about_me-item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_me .about_me-item .row dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.works {
  margin-top: 135px;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .works {
    padding-right: 18.75%;
    padding-left: 18.75%;
  }
}

.works .works-cont {
  margin-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .works .works-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works .portfolio_link:nth-child(n + 2) {
  margin-left: 60px;
}

.works .portfolio {
  position: relative;
  overflow: hidden;
}

.works .portfolio img {
  width: 100%;
}

.works .portfolio:hover .caption {
  visibility: visible;
}

.works .portfolio:hover p {
  opacity: 1;
  /* 文字を表示する */
}

.works .portfolio:hover .mask1 {
  left: 0;
}

.works .portfolio:hover .mask2 {
  right: 0;
}

.works .mask1,
.works .mask2 {
  width: 50%;
  /* 幅は半部のサイズ */
  height: 97.7%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.works .mask1 {
  left: -50%;
  /* 枠の左に置いて表示させない */
}

.works .mask2 {
  right: -50%;
  /* 枠の右に置いて表示させない */
}

.works .caption {
  width: 100%;
  height: 100%;
  visibility: hidden;
  /* 文字を表示しない */
  font-size: 16px;
  position: absolute;
  top: 25px;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.4s step-end;
  transition: all 0.4s step-end;
}

.works .caption p {
  color: #fff;
  opacity: 0;
  /* ホバーが解除された時すぐ消えるように、文字を表示しない */
}

.service {
  margin-top: 135px;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .service {
    padding-left: 18.75%;
    padding-right: 18.75%;
  }
}

.service .service-cont {
  margin-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .service .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.service .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calk(100%/3);
  background-color: #f7f7f7;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.service .service-item:nth-child(n + 2) {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item:nth-child(n + 2) {
    margin-left: 40px;
    margin-top: 0;
  }
}

.service .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service .title {
  font-size: 23px;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .service .title {
    font-size: 26px;
  }
}

.service .desc {
  margin-top: 20px;
  font-size: 16px;
  text-align: justify;
}

.service .price {
  font-size: 16px;
  color: #fff;
  background-color: #a7cedb;
  text-align: center;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.service .price-desc {
  margin-top: 20px;
  font-size: 16px;
}

.service .image {
  margin-right: auto;
  margin-left: auto;
}

.service .image img {
  width: 200px;
}

.service .annotation {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}

.service .service-link {
  text-align: center;
  margin-top: 40px;
}

.flow {
  margin-top: 140px;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .flow {
    padding-left: 18.75%;
    padding-right: 18.75%;
  }
}

.flow .flow-cont {
  margin-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .flow .flow-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flow .flow-item::after {
  display: block;
  position: relative;
  width: 0;
  height: 20px;
  margin-top: 20px;
  border: 20px solid transparent;
  border-top-color: #a7cedb;
  content: "";
  left: 50%;
  margin-left: -20px;
}

.flow .flow-item:last-child:after {
  border: none;
  /* 最後のボックスだけ三角形を表示しない */
}

@media print, screen and (min-width: 768px) {
  .flow .flow-item {
    width: calk(100%/4);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 auto 33px;
    width: 80%;
    position: relative;
  }
  .flow .flow-item:after {
    border: none;
  }
  .flow .flow-item:nth-child(n + 2) {
    margin-left: 30px;
  }
  .flow .flow-item:nth-child(n + 2) ::before {
    margin: -16px 0 0 -10px;
    /* 三角形の大きさ分ネガティブマージンで位置調整 */
    border: 16px solid transparent;
    border-left-color: #a7cedb;
    content: "";
    position: absolute;
    top: 18%;
    /* 上下中央寄せ */
    left: -7%;
    /* 左右中央寄せ */
  }
}

.flow .title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.flow .text {
  text-align: center;
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 15px;
}

@media print, screen and (min-width: 768px) {
  .flow .text {
    margin-top: 30px;
  }
}

.contact {
  margin-top: 100px;
}

@media print, screen and (min-width: 768px) {
  .contact {
    margin-top: 135px;
  }
}

.contact-cont {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

@media print, screen and (min-width: 768px) {
  .contact-cont {
    padding-top: 120px;
    padding-bottom: 136px;
    padding-right: 0;
    padding-left: 0;
  }
}

.contact-cont h2 {
  font-size: 28px;
}

@media print, screen and (min-width: 768px) {
  .contact-cont h2 {
    font-size: 40px;
  }
}

.contact-cont p {
  font-size: 16px;
  margin-top: 35px;
}

@media print, screen and (min-width: 768px) {
  .contact-cont p {
    font-size: 20px;
  }
}

.contact-cont .contact-link {
  margin-top: 40px;
}

@media print, screen and (min-width: 768px) {
  .contact-cont .contact-link {
    margin-top: 70px;
  }
}
/*# sourceMappingURL=style.css.map */
