.top {
  background-image: url(https://miyatatomoko.github.io/cocoro-me.lp/image/top-bg-sp.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  @include overTab {
    background-image: url(https://miyatatomoko.github.io/cocoro-me.lp/image/top-bg-pc.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    position: relative;
  }
}
.top-text {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  position: absolute;
  top: 35%;
  @include overTab {
    position: absolute;
    top: percentage(320/1000);
    padding-left: percentage(360/1920);
    padding-right: percentage(360/1920);
    text-align: left;
  }
}
.sub {
  font-size: 24px;
  color: cl(blue);
  @include overTab {
    font-size: 30px;
  }
}
.main {
  margin-top: 10px;
  img {
    width: 90%;
    @include overTab {
      width: 630px;
    }
  }
}
text {
}
.top-list {
  margin-top: 80px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  @include overTab {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
}
.item-title {
  font-size: 23px;
}
.item-desc {
  font-size: 18px;
  margin-top: 10px;
  @include overTab {
    flex: 1;
    margin-left: 40px;
    font-size: 30px;
    line-height: 1.8em;
    margin-top: -10px;
  }

  &::before {
    content: "";
    display: inline-block;
    background-image: url(https://miyatatomoko.github.io/cocoro-me.lp/image/top-item.png);
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 492px;
    left: -17%;
    bottom: -138%;
    @include overTab {
      width: 435px;
      position: absolute;
      height: 685px;
      left: 0%;
      bottom: -95%;
    }
  }
}
